<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Presença</title>
</head>
<body>
    <form action={% url 'core:index' %} method="post">
        {% csrf_token %}
        <h1>Registro Presença</h1>
        <div>
            <label for="NomeAluno">Nome Completo:</label>
            {{ form.NomeAluno }}
        </div>
        <div>
            <label for="NomeProfessor">Nome do Professor:</label>
            {{ form.NomeProfessor }}
        </div>
        <div>
            <label for="Curso">Curso:</label>
            {{ form.NomeCurso }}
        </div>
        <div>
            <label for="Semestre">Semestre:</label>
            {{ form.Semestre }}
        </div>

        <button type="submit" value="Cadastro" >Enviar</button>

    </form>
    <a href="lista"><button>Listagem</button></a>
</body>
</html>