<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Presenca</title>
</head>
<body>
    <h1>Listagem de presença</h1>
    {% if not dados %}
    <h2>Sem presenças cadastradas</h2>
    {% else %}
    <h2>Presenças Cadastradas:</h2>
    <table>
        <thead>
            <tr>
                <th>Nome do Aluno</th>
                <th>Nome do Professor</th>
                <th>Curso</th>
                <th>Semestre</th>
            </tr>
        </thead>
        {% endif %}
        <tbody id="Presenca">
            {% for dado in dados %}
            <tr>
                <td>{{ dado.nome_aluno }}</td>
                <td>{{ dado.nome_professor }}</td>
                <td>{{ dado.curso }}</td>
                <td>{{ dado.semestre }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/"><button>Cadastro</button></a>


</body>
</html>